@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.custom-container {
  display: flex;
  gap: 56px; /* Khoảng cách 56px giữa các phần tử */
}

.custom-box {
  width: 329px;
  height: 152px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 329px; /* Không cho phép co giãn hoặc nở rộng, chiều rộng cố định */
}

.custom-text {
  color: #595031;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.custom-number {
  color: #595031;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}
